#modal-start {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

#overlay-start {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(23, 18, 18, 0.9);
}

#modal-window-start {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    background-color: #404040;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: black;
}

.btn {
    width: 150px;
    height: 20px;
    background-color: #1d1d19;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 13px;
}

#content-start {
    text-align: center;
    padding-top: 35px;
}
#blink2 {
    -webkit-animation: blink2 0.5s linear infinite;
    animation: blink2 0.5s linear infinite;
    text-align: center;
    padding-top: 200px;
}
@-webkit-keyframes blink2 {
    100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink2 {
    100% { color: rgba(34, 34, 34, 0); }
}